In [1]:
import pandas as pd
import numpy as np

In [5]:
week_df = pd.read_json('../data/crop_production/weeklyProd2015-2020.json')
year_df = pd.read_json('../data/crop_production/yearlyProd2015-2020.json')

In [6]:
week_df.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2020,WEEK #11,2020-03-15,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - CONDITION, MEA...",TOTAL,NOT SPECIFIED,4,NaN
1,SURVEY,2020,WEEK #11,2020-03-15,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - CONDITION, MEA...",TOTAL,NOT SPECIFIED,57,NaN
2,SURVEY,2020,WEEK #11,2020-03-15,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - CONDITION, MEA...",TOTAL,NOT SPECIFIED,31,NaN
3,SURVEY,2020,WEEK #11,2020-03-15,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - CONDITION, MEA...",TOTAL,NOT SPECIFIED,8,NaN
4,SURVEY,2020,WEEK #11,2020-03-15,STATE,ARKANSAS,5,NaN,NaN,NaN,...,NaN,NaN,0,NaN,VEGETABLE TOTALS,"VEGETABLE TOTALS, IN THE OPEN - CONDITION, MEA...",TOTAL,NOT SPECIFIED,0,NaN

In [7]:
week_df.shape

(49767, 21)

## Locality

In [13]:
year_df.head()

,Year,State,Commodity,Data Item,Value,CV (%)
0,2018,ALABAMA,POTATOES,"POTATOES, IRRIGATED - ACRES HARVESTED",33,93.2
1,2018,ALABAMA,SWEET CORN,"SWEET CORN, IRRIGATED - ACRES HARVESTED",629,73.6
2,2018,ALABAMA,TOMATOES,"TOMATOES, IN THE OPEN, IRRIGATED - ACRES HARVE...","1,174",85.5
3,2018,ALASKA,LETTUCE,"LETTUCE, IRRIGATED - ACRES HARVESTED",49,80.7
4,2018,ALASKA,POTATOES,"POTATOES, IRRIGATED - ACRES HARVESTED",203,68.0

In [8]:
year_df.shape

(1334, 6)

In [17]:
local_df = year_df[year_df['Year'] == 2018]

In [18]:
local_df = local_df.drop_duplicates(subset=['State', 'Commodity'], keep='first')

In [19]:
local_df.head()

,Year,State,Commodity,Data Item,Value,CV (%)
0,2018,ALABAMA,POTATOES,"POTATOES, IRRIGATED - ACRES HARVESTED",33,93.2
1,2018,ALABAMA,SWEET CORN,"SWEET CORN, IRRIGATED - ACRES HARVESTED",629,73.6
2,2018,ALABAMA,TOMATOES,"TOMATOES, IN THE OPEN, IRRIGATED - ACRES HARVE...","1,174",85.5
3,2018,ALASKA,LETTUCE,"LETTUCE, IRRIGATED - ACRES HARVESTED",49,80.7
4,2018,ALASKA,POTATOES,"POTATOES, IRRIGATED - ACRES HARVESTED",203,68.0

In [22]:
local_df.dtypes

Year          int64
State        object
Commodity    object
Data Item    object
Value        object
CV (%)       object
dtype: object

Get all total values of each Commodity

In [21]:
local_df.groupby('Commodity')['Value'].sum()

Commodity
ARTICHOKES                                                    6,900
ASPARAGUS                                      6,0009,5002,1004,100
BEANS             4,8007,80027,60011,9004502,6002,20018,2002,800...
BROCCOLI                                              10,900103,000
CABBAGE             3,30014,2008,9002,9003,70010,1002,8005,0003,300
CARROTS                                  64,3004,0001,6005,9004,000
CAULIFLOWER                                             6,10038,800
CELERY                                                  28,3001,900
CUCUMBERS         5,9008,100 (D)24,9009,40034,4002,6009,6001,900...
GARLIC                                                       29,900
LETTUCE           4944,36326198,895332825,6201432818999422575553...
MELONS            16,30031,5003,800 (D) (D)1,7003,500 (D)1,2007,...
ONIONS            41,0002,60010,8008,4007,1007,50019,30011,00021...
PEAS                             4,00045,8006,70018,90032,40023,300
PEPPERS           1,10013,50011,9003,2002,0003,4007,9001,4002,00...
POTATOES          332033,109525,44246,5794 (D)4,60811317296,665 ...
PUMPKINS          4,90011,0005,5005,4001,4001,7005,7002,3003,700...
SPINACH                         11,10044,200 (D) (D)2,0001,3502,800
SQUASH            6,700 (D) (D)8,7003,5004,9003,5004,30011,7001,500
SWEET CORN        6291161819,1663,0509210,18420,61023,965 (D)3,1...
SWEET POTATOES                   4,80021,0005,8008,30026,00078,5000
TOMATOES          1,17422170240,73410473521,795141 (D)491572,427...
Name: Value, dtype: object

NOTE: This is where I give up and just scrape from somewhere online